<a href="https://colab.research.google.com/github/saimeonver/PythonExercise/blob/main/Kosullar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Koşullar

In [ ]:
1==1

True

In [ ]:
1==2

False

In [ ]:
if 1 == 1 :
  print("something")

something

In [ ]:
if 1==2 :
  print("ok")

In [ ]:
number = 11

if number == 10 :
  print("number is 10")

In [ ]:
number =10
if number == 10 :
  print("number is 10")

number is 10

In [ ]:
number = 20
if number == 10 :
  print("number is 10")

In [ ]:
#tekrar işlemler yaptığımı fark ediyorum. o yüzden fonksiyon yazıcam

In [ ]:
def number_check(number):
  if number == 10:
    print("number is ten")
  else:
    print("number is not ten")

In [ ]:
number_check(20)

number is not ten

In [ ]:
number_check(10)

number is ten

In [ ]:
def number_check_n(number):
  if number < 10 :
    print("sayı 10 dan küçük")
  elif number > 10:
    print("sayı 10 dan büyük")
  else:
    print("sayı 10 a eşit")

In [ ]:
number_check_n(20)

sayı 10 dan büyük

In [ ]:
number_check_n(10)

sayı 10 a eşit

In [ ]:
number_check_n(5)

sayı 10 dan küçük

In [ ]:
#Döngüler (Loops)

In [ ]:
students = ["John", "Mark", "Mariam", "Venessa"]

In [ ]:
students[0]

'John'

In [ ]:
students[2]

'Mariam'

In [ ]:
students[3]

'Venessa'

In [ ]:
for student in students:
  print(student)

John
Mark
Mariam
Venessa

In [ ]:
for student in students:
  print(student.upper())

JOHN
MARK
MARIAM
VENESSA

In [ ]:
number_check(20)

1200.0
2400.0
3600.0
4800.0
6000.0

In [ ]:
salaries = [1000, 2000, 3000, 4000, 5000]

In [ ]:
for salary in salaries:
  print(salary)

1000
2000
3000
4000
5000

In [ ]:
#yüzde 20 zam yaparsak
for salary in salaries :
  print(salary * 20 /100 + salary)

1200.0
2400.0
3600.0
4800.0
6000.0

In [ ]:
#yüzde 30 zam yaparsak
for salary in salaries :
  print(salary * 30 /100 + salary)

1300.0
2600.0
3900.0
5200.0
6500.0

In [ ]:
def new_salary(salary,rate):
  return salary * rate / 100 + salary

In [ ]:
new_salary(2000,20)

2400.0

In [ ]:
new_salary(5000,30)

6500.0

In [ ]:
#bütün maaşlara yüzde 10 zam

for salary in salaries:
  new_salary(salary,20)

1200.0
2400.0
3600.0
4800.0
6000.0

In [ ]:
salaries2 = [100650, 20400, 36000, 40700, 50300]

In [ ]:
for salary in salaries2:
  new_salary(salary,30)

130845.0
26520.0
46800.0
52910.0
65390.0

In [ ]:
salaries = [1000, 2000, 3000, 4000, 5000]
for salary in salaries:
  if salary >= 2000:
       print(new_salary(salary, 10))
  else:
       print(new_salary(salary, 20))

1200.0
2200.0
3300.0
4400.0
5500.0

In [ ]:
#Uygulama Mülakat Sorusu
"before :hi my name is john and i am learning python"
"after: Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"

string2 = "hi my name is john and i am learning python"

string1=[]
index=0

for i in string2:

    if index % 2 !=0:
      string1.append(i.lower())

    else:
      string1.append(i.upper())
    index+=1



final_string =" ".join(string1)

print(final_string)

H i   m Y   N a M e   i S   J o H n   a N d   i   a M   L e A r N i N g   p Y t H o N

In [ ]:
#farklı yol

string = "hi my name is john and i am learning python"
def alternating(string):
  new_string=""
  for string_index in range(len(string)):
    if string_index % 2 == 0:
      new_string += string[string_index].upper()
    else:
      new_string += string[string_index].lower()

  print(new_string)

alternating(string)

Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN

In [ ]:
#break continue while
#break: bu kodu gordugunde artik islem yapmaz

In [ ]:

salaries = [1000,2000,3000,4000,5000]

for salary in salaries:
  if salary == 3000:
   break
  print(salary)

1000
2000

In [ ]:
#.continue : bunu gordugunde islem
# yapma atla

for salary in salaries:
  if salary == 3000:
    continue

  print(salary)

1000
2000
4000
5000

In [ ]:
# While : digi surece isleme devam

number=1

while number < 5:
  print(number)
  number += 1

1
2
3
4

In [ ]:
#enumerate: otomatik counter / indexer ile for loop

In [ ]:
students =["John", "Mark", "Venessa", "Mariam"]
for student in students:
  print(student)

John
Mark
Venessa
Mariam

In [ ]:
for index,student in enumerate(students):
 print(index,student)

0 John
1 Mark
2 Venessa
3 Mariam

In [ ]:
#index baslangicini 1 yaptim
for index,student in  enumerate(students,1) :
  print(index, student)

1 John
2 Mark
3 Venessa
4 Mariam

In [ ]:
A = []
B = []

for index,student in enumerate(students):
  if index % 2 == 0:
    A.append(student)
  else:
    B.append(student)

In [ ]:
A

['John', 'Venessa']

In [ ]:
B

['Mark', 'Mariam']

In [ ]:
def divide_students(students):
  group = [[],[]]
  for index , student in enumerate(students):
    if index % 2 == 0:
      group[0].append(student)
    else:
      group[1].append(student)


  return group

In [ ]:
st =divide_students(students)


st[1]

['Mark', 'Mariam']

In [ ]:
st[0]

['John', 'Venessa']

In [ ]:
#alternating fnksiyonun enumerate ile yazılması 1

In [ ]:
def alternating_enumerate(string):

  new_string = ""

  for i ,letter in enumerate(string):
    if i % 2 == 0:
      new_string += letter.upper()
    else:
      new_string += letter.lower()

  print(new_string)

In [ ]:
alternating_enumerate("hi my name is saime and i am learning pyhton")

Hi mY NaMe iS SaImE AnD I Am lEaRnInG PyHtOn

In [ ]:
# Zip

students = ["John" ,"Mark", "Venessa", "Marim"]

departments = ["mathematics", "statistics", "physics",
"astronomy"]

ages = [23, 30, 26, 22]
#eğer bu 3 listeyi birbiriyle birleştirmek istersem

list(zip(students,departments))

[('John', 'mathematics'),
 ('Mark', 'statistics'),
 ('Venessa', 'physics'),
 ('Marim', 'astronomy')]

In [ ]:
#lambda, map,filter,reduce
#kulln at fonksyonları dahacok map ve apply da kullanılır

In [ ]:
def summer (a,b):
  return a + b

In [ ]:
summer(1,4)

5

In [ ]:
new_sum = lambda a,b : a+ b

In [ ]:
new_sum(7,9)

16

In [ ]:
#map

salaries = [1000,2000,3000,4000,5000]

In [ ]:
def new_salary(x):
  return x * 20 / 100 + x

In [ ]:
new_salary(5000)

6000.0

In [ ]:
for salary in salaries:
  print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0
6000.0

In [ ]:
#bu fonksşyonu yazmak yerine map fonkkulln

In [ ]:
list(map(new_salary,salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [17]:
list(map(lambda x : x * 20 / 100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [18]:
#del new_sum

In [19]:
list(map(lambda x : x * 20 / 100 + x, salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [20]:
list(map(lambda x : x ** 2, salaries))

[1000000, 4000000, 9000000, 16000000, 25000000]

In [21]:
#Filter

list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x : x % 2 == 0 , list_store))

[2, 4, 6, 8, 10]

In [22]:
#REDUCE

from functools import reduce
list_store = [1, 2, 3, 4]
reduce(lambda a, b: a + b, list_store)

10