<a href="https://colab.research.google.com/github/saimeonver/PythonExercise/blob/main/List_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Comprehensions

#List Comprehension

#Eski Yol
salaries = [1000, 2000, 3000, 4000, 5000]

def new_salary (salary):
  return salary * 20 / 100 + salary

for salary in salaries:

  print(new_salary(salary))

1200.0
2400.0
3600.0
4800.0
6000.0

In [3]:
#Zam lı hallerini farklı bir listeye ekleyeyim
null_list = []

for salary in salaries:
  null_list.append(new_salary(salary))

In [4]:
null_list

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [5]:
#Maaş 3000 den fazlayasa %20, azsa farklı işlem yapıcam
null_list = []

for salary in salaries :
  if salary > 3000:
    null_list.append(new_salary(salary))
  else:
    null_list.append(new_salary(salary*2))

In [6]:
null_list

[2400.0, 4800.0, 7200.0, 4800.0, 6000.0]

In [7]:
#Yeni yol

[new_salary(salary*2) if salary < 3000 else new_salary (salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]

In [8]:
#Maaşları 2 ile çarpıcam

salaries = [1000, 2000, 3000, 4000, 5000]

[salary * 2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

In [9]:
#Maaşı 3000 den az olnalrı 2 ile çarpalım diğerleri aynen kalacak

[salary * 2 if salary < 3000 else salary for salary in salaries]

[2000, 4000, 3000, 4000, 5000]

In [11]:
#Maaşı 3000 den az olnalrı 2 ile çarpalım diğerlerine bir işlem yapılmayacak
[salary *2 for salary in salaries if salary < 3000]

[2000, 4000]

In [12]:
#Önemli
#eğer sadece if varsa if for döngüsünün sağına yazılır
#eğer if ile birlikte else varsa if solda else ifin sağında yazılır. for en sağda kalır

In [14]:
#fonksiyonda kullanabilirm

[new_salary(salary * 2 )if salary < 3000 else new_salary(salary * 1.5)for salary in salaries]

[2400.0, 4800.0, 5400.0, 7200.0, 9000.0]

In [16]:
#Tüm öğrenci listemde no olanları küçük no olmayanları büyük har file yazıcam

student = {"John", "Mark", "Venessa", "Mariam"}
students_no = ["John", "Venessa"]

[s.lower() if s in students_no else s.upper() for s in student]

['MARIAM', 'john', 'venessa', 'MARK']

In [17]:
[s.upper() if s not in students_no else s.lower() for s in student]

['MARIAM', 'john', 'venessa', 'MARK']